{
	"openapi": "3.1.0",
	"info": {
		"title": "auregistre API",
		"version": "1.0.0",
		"summary": "What changed in a French company, and when.",
		"description": "Most company-data services publish a **state**: the name, address and share capital as of today.\nThis API publishes the **history**: every value the French official gazette (BODACC) has recorded for a company,\nwith the date it was published and a link to the announcement that published it.\n\nThree things follow from that one idea: the timeline of a company, a watch over companies you already track,\nand the count of insolvency openings over time. There is no lookup by name, by director or by place: see the\ndocumentation for why there never will be.\n\nNothing is inferred, scored or estimated. Every value returned was published by the register on the date shown.\n\nThe gazette has been digitised since 2008. For a company older than that, the earliest value returned\nis the oldest one on record, not the company's original value.\n\nNo API key and no account are involved. Requests are rate limited by IP.",
		"termsOfService": "https://auregistre.fr/cgu",
		"contact": {
			"name": "auregistre",
			"url": "https://auregistre.fr/api",
			"email": "contact@auregistre.fr"
		},
		"license": {
			"name": "Licence Ouverte 2.0 (Etalab)",
			"url": "https://www.etalab.gouv.fr/licence-ouverte-open-licence/"
		}
	},
	"servers": [
		{
			"url": "https://auregistre.fr/api",
			"description": "Production"
		}
	],
	"security": [],
	"externalDocs": {
		"description": "Human-readable documentation",
		"url": "https://auregistre.fr/api"
	},
	"tags": [
		{
			"name": "company",
			"description": "Read-only access by SIREN. There is deliberately no search endpoint: see the documentation for why."
		},
		{
			"name": "watch",
			"description": "What the gazette published on companies you already track. It takes identifiers, never criteria, so it is not a search either."
		},
		{
			"name": "insolvency",
			"description": "Aggregate counts of insolvency openings, over the scopes the website already publishes as pages."
		}
	],
	"paths": {
		"/company/{siren}/timeline": {
			"get": {
				"tags": [
					"company"
				],
				"operationId": "getCompanyTimeline",
				"summary": "Every recorded change for one company",
				"description": "Returns one entry per field that has **changed at least once**. A field that has never moved is not a timeline,\nit is a state, and it is omitted.\n\nAnnouncements that merely cite the SIREN without describing the company are excluded.\nOn large franchised networks this is around 40% of what a naive SIREN search returns.\n\nResponses are cached at the edge for 24 hours. A cached response does not count against the rate limit.",
				"parameters": [
					{
						"name": "siren",
						"in": "path",
						"required": true,
						"description": "The nine-digit identifier of a French legal entity. Spaces, dots and dashes are accepted and ignored.",
						"schema": {
							"type": "string",
							"pattern": "^[0-9 .-]{9,13}$"
						},
						"examples": {
							"doctolib": {
								"value": "794598813",
								"summary": "Doctolib"
							},
							"edf": {
								"value": "552081317",
								"summary": "EDF"
							}
						}
					},
					{
						"name": "If-None-Match",
						"in": "header",
						"required": false,
						"description": "Send the previous `ETag` to get a 304 when nothing has changed.",
						"schema": {
							"type": "string"
						}
					}
				],
				"responses": {
					"200": {
						"description": "The company timeline.",
						"headers": {
							"ETag": {
								"description": "Weak validator of this representation.",
								"schema": {
									"type": "string"
								}
							},
							"Cache-Control": {
								"description": "Shared caches may keep this for 24 hours.",
								"schema": {
									"type": "string"
								}
							},
							"Link": {
								"description": "RFC 8631 discovery links: `service-desc` points at this document, `service-doc` at the human documentation, `license` at the data licence.",
								"schema": {
									"type": "string"
								}
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Timeline"
								}
							}
						}
					},
					"304": {
						"description": "Your `If-None-Match` matched. No body."
					},
					"400": {
						"description": "The SIREN is not nine digits.",
						"content": {
							"application/problem+json": {
								"schema": {
									"$ref": "#/components/schemas/Problem"
								},
								"example": {
									"type": "https://auregistre.fr/api#invalid-siren",
									"title": "Invalid SIREN",
									"status": 400,
									"detail": "A SIREN is the nine-digit identifier the French business register assigns to a legal entity."
								}
							}
						}
					},
					"404": {
						"description": "No announcement describes this SIREN.",
						"content": {
							"application/problem+json": {
								"schema": {
									"$ref": "#/components/schemas/Problem"
								},
								"example": {
									"type": "https://auregistre.fr/api#company-not-found",
									"title": "No timeline available",
									"status": 404,
									"detail": "No gazette announcement describes SIREN 123456789."
								}
							}
						}
					},
					"405": {
						"description": "This endpoint is read-only.",
						"content": {
							"application/problem+json": {
								"schema": {
									"$ref": "#/components/schemas/Problem"
								},
								"example": {
									"type": "https://auregistre.fr/api#method-not-allowed",
									"title": "Method not allowed",
									"status": 405,
									"detail": "This endpoint is read-only. POST is not supported; use GET."
								}
							}
						}
					},
					"429": {
						"description": "Rate limit exceeded.",
						"content": {
							"application/problem+json": {
								"schema": {
									"$ref": "#/components/schemas/Problem"
								},
								"example": {
									"type": "https://auregistre.fr/api#rate-limit-exceeded",
									"title": "Too many requests",
									"status": 429,
									"detail": "This endpoint allows 30 requests per minute per IP address."
								}
							}
						},
						"headers": {
							"Retry-After": {
								"description": "Seconds to wait.",
								"schema": {
									"type": "integer"
								}
							},
							"RateLimit-Limit": {
								"schema": {
									"type": "integer"
								}
							},
							"RateLimit-Remaining": {
								"schema": {
									"type": "integer"
								}
							},
							"RateLimit-Reset": {
								"description": "Seconds until the window resets.",
								"schema": {
									"type": "integer"
								}
							}
						}
					},
					"503": {
						"description": "The gazette did not answer. This says nothing about whether the company exists.",
						"content": {
							"application/problem+json": {
								"schema": {
									"$ref": "#/components/schemas/Problem"
								},
								"example": {
									"type": "https://auregistre.fr/api#upstream-unavailable",
									"title": "Upstream register unavailable",
									"status": 503,
									"detail": "The French official gazette did not answer in time."
								}
							}
						}
					}
				}
			}
		},
		"/changes": {
			"get": {
				"tags": [
					"watch"
				],
				"operationId": "getChanges",
				"summary": "What the gazette published on companies you track",
				"description": "Pass the SIREN you already hold and a date; get back what the gazette printed about each of them since.\n\n**Entries are filtered on the publication date, not on the date of the act.** The two differ by 16 days at the median,\nso a watch filtered on the act would never see a judgment ruled before its last visit and published after.\n\nUp to 20 companies per call, and each one spends one unit of the rate limit.\nValues that are not nine digits are ignored rather than refused; a call where none are left is a 400.\n\nResponses are cached at the edge for one hour. Sort your SIREN or reuse the same order: the cache key is the URL.",
				"parameters": [
					{
						"name": "siren",
						"in": "query",
						"required": true,
						"description": "Comma-separated nine-digit identifiers, up to 20. Spaces, dots and dashes are ignored.",
						"schema": {
							"type": "string"
						},
						"examples": {
							"deux": {
								"value": "794598813,552081317",
								"summary": "Doctolib and EDF"
							}
						}
					},
					{
						"name": "since",
						"in": "query",
						"required": false,
						"description": "Publication date to look back to, ISO 8601. Defaults to 30 days ago. An unreadable value falls back to the default rather than being refused.",
						"schema": {
							"type": "string",
							"format": "date"
						}
					},
					{
						"name": "If-None-Match",
						"in": "header",
						"required": false,
						"schema": {
							"type": "string"
						}
					}
				],
				"responses": {
					"200": {
						"description": "One entry per company, whether or not anything moved.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Changes"
								}
							}
						}
					},
					"304": {
						"description": "Your `If-None-Match` matched. No body."
					},
					"400": {
						"description": "No readable SIREN was passed.",
						"content": {
							"application/problem+json": {
								"schema": {
									"$ref": "#/components/schemas/Problem"
								},
								"example": {
									"type": "https://auregistre.fr/api#invalid-siren",
									"title": "No company requested",
									"status": 400,
									"detail": "Pass the companies to watch in the siren query parameter, comma-separated."
								}
							}
						}
					},
					"429": {
						"description": "Rate limit exceeded.",
						"content": {
							"application/problem+json": {
								"schema": {
									"$ref": "#/components/schemas/Problem"
								},
								"example": {
									"type": "https://auregistre.fr/api#rate-limit-exceeded",
									"title": "Too many requests",
									"status": 429,
									"detail": "This API allows 30 company reads per minute per IP address."
								}
							}
						}
					},
					"503": {
						"description": "The gazette did not answer.",
						"content": {
							"application/problem+json": {
								"schema": {
									"$ref": "#/components/schemas/Problem"
								},
								"example": {
									"type": "https://auregistre.fr/api#upstream-unavailable",
									"title": "Upstream register unavailable",
									"status": 503,
									"detail": "The French official gazette did not answer in time."
								}
							}
						}
					}
				}
			}
		},
		"/insolvencies": {
			"get": {
				"tags": [
					"insolvency"
				],
				"operationId": "getInsolvencies",
				"summary": "Insolvency openings in France, twelve months against the twelve before",
				"description": "Judgments OPENING an insolvency procedure, counted over a rolling twelve months and against the twelve before,\nmonth by month, by nature, and ranked by department.\n\nClosures are excluded: they are the opposite of a new failure. The current month is excluded too, because a month\nstill running reads as a collapse. The same figures are on the `/defaillances` page, and its monthly series has been\ndownloadable as CSV for months: this address adds no new data, it hands a machine what a reader could already copy.\n\nResponses are cached at the edge for 24 hours.",
				"parameters": [
					{
						"name": "If-None-Match",
						"in": "header",
						"required": false,
						"schema": {
							"type": "string"
						}
					}
				],
				"responses": {
					"200": {
						"description": "The national barometer.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Insolvencies"
								}
							}
						}
					},
					"304": {
						"description": "Your `If-None-Match` matched. No body."
					},
					"429": {
						"description": "Rate limit exceeded.",
						"content": {
							"application/problem+json": {
								"schema": {
									"$ref": "#/components/schemas/Problem"
								},
								"example": {
									"type": "https://auregistre.fr/api#rate-limit-exceeded",
									"title": "Too many requests",
									"status": 429,
									"detail": "This API allows 30 reads per minute per IP address."
								}
							}
						}
					},
					"503": {
						"description": "The gazette did not answer. No count is served rather than a zero.",
						"content": {
							"application/problem+json": {
								"schema": {
									"$ref": "#/components/schemas/Problem"
								},
								"example": {
									"type": "https://auregistre.fr/api#upstream-unavailable",
									"title": "Upstream register unavailable",
									"status": 503,
									"detail": "The French official gazette did not answer in time."
								}
							}
						}
					}
				}
			}
		},
		"/insolvencies/department/{code}": {
			"get": {
				"tags": [
					"insolvency"
				],
				"operationId": "getInsolvenciesByDepartment",
				"summary": "The same barometer, for one department",
				"description": "The code is checked against the closed list the website publishes as pages. An unknown code is a 404, never a composed query.",
				"parameters": [
					{
						"name": "code",
						"in": "path",
						"required": true,
						"description": "Two-digit department code, 2A or 2B for Corsica, three digits overseas.",
						"schema": {
							"type": "string"
						},
						"examples": {
							"isere": {
								"value": "38",
								"summary": "Isère"
							}
						}
					}
				],
				"responses": {
					"200": {
						"description": "The barometer for that department.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Insolvencies"
								}
							}
						}
					},
					"404": {
						"description": "No such department.",
						"content": {
							"application/problem+json": {
								"schema": {
									"$ref": "#/components/schemas/Problem"
								},
								"example": {
									"type": "https://auregistre.fr/api#no-such-endpoint",
									"title": "No such department",
									"status": 404,
									"detail": "99 is not a French department code."
								}
							}
						}
					}
				}
			}
		},
		"/insolvencies/trade/{slug}": {
			"get": {
				"tags": [
					"insolvency"
				],
				"operationId": "getInsolvenciesByTrade",
				"summary": "The same barometer, for one trade",
				"description": "The slug is checked against a closed table, and a refusal lists the trades that exist.\n\nA trade is read from the WORDS of the activity the gazette prints, not from an activity code: the gazette publishes a\nsentence, not a code. Two trades can therefore overlap on one announcement.",
				"parameters": [
					{
						"name": "slug",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string",
							"enum": [
								"restauration",
								"batiment",
								"renovation",
								"commerce-de-detail",
								"bar",
								"habillement",
								"plomberie",
								"nettoyage",
								"alimentation",
								"boulangerie",
								"traiteur",
								"transport",
								"informatique",
								"conseil",
								"coiffure",
								"taxi",
								"evenementiel",
								"electricite",
								"esthetique",
								"garage",
								"jardinage",
								"immobilier",
								"securite",
								"boucherie",
								"hebergement"
							]
						},
						"examples": {
							"restauration": {
								"value": "restauration",
								"summary": "Restauration"
							}
						}
					}
				],
				"responses": {
					"200": {
						"description": "The barometer for that trade.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Insolvencies"
								}
							}
						}
					},
					"404": {
						"description": "No such trade.",
						"content": {
							"application/problem+json": {
								"schema": {
									"$ref": "#/components/schemas/Problem"
								},
								"example": {
									"type": "https://auregistre.fr/api#no-such-endpoint",
									"title": "No such trade",
									"status": 404,
									"detail": "boulangerie-artisanale is not one of the trades this API covers."
								}
							}
						}
					}
				}
			}
		}
	},
	"components": {
		"schemas": {
			"Problem": {
				"type": "object",
				"description": "Error format, following RFC 9457 (Problem Details for HTTP APIs).",
				"required": [
					"type",
					"title",
					"status",
					"detail"
				],
				"properties": {
					"type": {
						"type": "string",
						"format": "uri",
						"description": "Stable URI identifying the problem kind."
					},
					"title": {
						"type": "string"
					},
					"status": {
						"type": "integer"
					},
					"detail": {
						"type": "string"
					},
					"instance": {
						"type": "string",
						"description": "The path that was requested."
					}
				}
			},
			"Step": {
				"type": "object",
				"required": [
					"date",
					"value"
				],
				"properties": {
					"date": {
						"type": "string",
						"format": "date",
						"description": "Publication date of the announcement that carried this value.",
						"examples": [
							"2020-02-11"
						]
					},
					"value": {
						"type": "string",
						"description": "The value exactly as the register published it, in French. Names and addresses are not translated: translating them would invent a fact nobody recorded.",
						"examples": [
							"157 630,69 EUR"
						]
					},
					"amount": {
						"type": "object",
						"description": "The same value as a number, present only on monetary fields. Provided so that consumers never have to parse the French formatting of `value`.",
						"required": [
							"value",
							"currency"
						],
						"properties": {
							"value": {
								"type": "number",
								"examples": [
									157630.69
								]
							},
							"currency": {
								"type": "string",
								"description": "ISO 4217 code.",
								"examples": [
									"EUR"
								]
							}
						}
					},
					"source": {
						"type": "string",
						"format": "uri",
						"description": "The gazette announcement that published this value. Every step is verifiable.",
						"examples": [
							"https://www.bodacc.fr/annonce/detail-annonce/A/20200028/1234"
						]
					}
				}
			},
			"Proceeding": {
				"type": "object",
				"required": [
					"date",
					"title"
				],
				"properties": {
					"date": {
						"type": "string",
						"format": "date",
						"description": "The date of the judgment, not of its publication. The two differ by 16 days at the median, and 14 announcements out of 1,000 fall in a different year.",
						"examples": [
							"2026-07-22"
						]
					},
					"published_on": {
						"type": "string",
						"format": "date",
						"description": "The day the gazette printed it, when it differs from `date`. This is the date that starts legal deadlines."
					},
					"title": {
						"type": "string",
						"description": "The judgment as the court clerk published it, in French.",
						"examples": [
							"Jugement d'ouverture d'une procédure de redressement judiciaire"
						]
					},
					"status": {
						"type": "string",
						"enum": [
							"safeguard",
							"receivership",
							"recovery_plan",
							"liquidation",
							"closed_for_insufficient_assets",
							"closed_debts_paid",
							"judgment_set_aside"
						],
						"description": "The status this judgment installs. Absent on the 1.4% of judgments whose wording we refuse to classify: a procedure we cannot read must not manufacture a status, in either direction."
					},
					"appointee": {
						"type": "object",
						"description": "Who the court appointed, as the announcement names them. Roles stay in French: they are the words the ruling uses.",
						"required": [
							"role",
							"firm",
							"person",
							"court"
						],
						"properties": {
							"role": {
								"type": "string",
								"examples": [
									"Mandataire judiciaire"
								]
							},
							"firm": {
								"type": "string"
							},
							"person": {
								"type": [
									"string",
									"null"
								]
							},
							"court": {
								"type": [
									"string",
									"null"
								],
								"examples": [
									"Tribunal de Commerce de Grenoble"
								]
							}
						}
					},
					"claims_deadline": {
						"type": "string",
						"format": "date",
						"description": "The last day to file a claim, on an OPENING judgment only. The only date in this API that is enforceable against someone."
					},
					"source": {
						"type": "string",
						"format": "uri",
						"description": "The announcement that published this judgment."
					}
				}
			},
			"Insolvency": {
				"type": "object",
				"required": [
					"status",
					"since"
				],
				"properties": {
					"status": {
						"type": "string",
						"enum": [
							"safeguard",
							"receivership",
							"recovery_plan",
							"liquidation",
							"closed_for_insufficient_assets",
							"closed_debts_paid",
							"judgment_set_aside"
						]
					},
					"since": {
						"type": "string",
						"format": "date",
						"description": "The date of the judgment that installed it."
					},
					"source": {
						"type": "string",
						"format": "uri"
					}
				}
			},
			"Attribution": {
				"type": "array",
				"description": "Source and retrieval date. Reusing this data requires citing both; they travel in the payload so that they reach consumers who never see the website.",
				"items": {
					"type": "object",
					"required": [
						"name",
						"url",
						"licence",
						"retrieved"
					],
					"properties": {
						"name": {
							"type": "string"
						},
						"url": {
							"type": "string",
							"format": "uri"
						},
						"licence": {
							"type": "string"
						},
						"retrieved": {
							"type": "string",
							"format": "date-time"
						}
					}
				}
			},
			"ServedBy": {
				"type": "object",
				"description": "Which service produced this response. `attribution` says where the data comes from; this says who served it. A record copied into another database can then be traced back, if only to know where to report a wrong line.",
				"required": [
					"name",
					"url"
				],
				"properties": {
					"name": {
						"type": "string",
						"examples": [
							"auregistre"
						]
					},
					"url": {
						"type": "string",
						"format": "uri",
						"examples": [
							"https://auregistre.fr/api"
						]
					}
				}
			},
			"Changes": {
				"type": "object",
				"required": [
					"since",
					"companies",
					"attribution",
					"served_by",
					"terms",
					"documentation",
					"notice"
				],
				"properties": {
					"since": {
						"type": "string",
						"format": "date",
						"description": "The date the window starts, as it was understood. Echoed so that a caller never believes it asked for something else."
					},
					"companies": {
						"type": "array",
						"description": "One entry per readable SIREN, in ascending order, whether or not anything moved.",
						"items": {
							"type": "object",
							"required": [
								"siren",
								"legal_name",
								"changes",
								"complete"
							],
							"properties": {
								"siren": {
									"type": "string"
								},
								"legal_name": {
									"type": [
										"string",
										"null"
									]
								},
								"changes": {
									"type": "array",
									"description": "What the gazette published in the window, most recent first.",
									"items": {
										"type": "object",
										"required": [
											"date",
											"published_on",
											"title"
										],
										"properties": {
											"date": {
												"type": "string",
												"format": "date",
												"description": "The date of the act."
											},
											"published_on": {
												"type": "string",
												"format": "date",
												"description": "The day the gazette published it. This is the field the window filters on."
											},
											"title": {
												"type": "string",
												"description": "The announcement, in French."
											},
											"source": {
												"type": "string",
												"format": "uri"
											}
										}
									}
								},
								"complete": {
									"type": "boolean",
									"description": "False when this entry is a beginning: the gazette fell silent, or the company published more announcements in the window than one page of the gazette holds. An empty list with `complete: true` means nothing happened."
								}
							}
						}
					},
					"attribution": {
						"$ref": "#/components/schemas/Attribution"
					},
					"served_by": {
						"$ref": "#/components/schemas/ServedBy"
					},
					"terms": {
						"type": "string",
						"format": "uri"
					},
					"documentation": {
						"type": "string",
						"format": "uri"
					},
					"notice": {
						"type": "string"
					}
				}
			},
			"Insolvencies": {
				"type": "object",
				"required": [
					"scope",
					"window",
					"reference",
					"change_percent",
					"monthly",
					"by_nature",
					"attribution",
					"served_by",
					"terms",
					"documentation",
					"notice"
				],
				"properties": {
					"scope": {
						"type": "object",
						"required": [
							"kind",
							"code",
							"name",
							"page_url"
						],
						"properties": {
							"kind": {
								"type": "string",
								"enum": [
									"country",
									"department",
									"trade"
								]
							},
							"code": {
								"type": [
									"string",
									"null"
								]
							},
							"name": {
								"type": "string",
								"description": "In French: it is a published value, not a UI label."
							},
							"page_url": {
								"type": "string",
								"format": "uri",
								"description": "The page that shows the same thing to a human."
							}
						}
					},
					"window": {
						"$ref": "#/components/schemas/InsolvencyWindow"
					},
					"reference": {
						"allOf": [
							{
								"$ref": "#/components/schemas/InsolvencyWindow"
							}
						],
						"description": "The twelve months before the window, to compare against."
					},
					"change_percent": {
						"type": [
							"number",
							"null"
						],
						"description": "Null when the reference is zero: \"+100%\" from nothing means nothing, and a place with no failure last year did not explode, it started."
					},
					"monthly": {
						"type": "array",
						"description": "Both windows, month by month, oldest first.",
						"items": {
							"type": "object",
							"required": [
								"month",
								"openings"
							],
							"properties": {
								"month": {
									"type": "string",
									"examples": [
										"2026-07"
									]
								},
								"openings": {
									"type": "integer"
								}
							}
						}
					},
					"by_nature": {
						"type": "array",
						"description": "Three separate counts over the window. They do NOT add up to its total: a judgment naming two procedures answers two filters, which overshoots the total by well under one percent.",
						"items": {
							"type": "object",
							"required": [
								"nature",
								"openings"
							],
							"properties": {
								"nature": {
									"type": "string",
									"enum": [
										"liquidation",
										"receivership",
										"safeguard"
									]
								},
								"openings": {
									"type": [
										"integer",
										"null"
									],
									"description": "Null when that one count went unanswered, the rest of the response standing."
								}
							}
						}
					},
					"by_department": {
						"type": "array",
						"description": "Ranking over the window, largest first. Present on the country scope only. Codes the site has no page for are left out.",
						"items": {
							"type": "object",
							"required": [
								"code",
								"name",
								"openings"
							],
							"properties": {
								"code": {
									"type": "string",
									"examples": [
										"75"
									]
								},
								"name": {
									"type": "string",
									"examples": [
										"Paris"
									]
								},
								"openings": {
									"type": "integer"
								}
							}
						}
					},
					"attribution": {
						"$ref": "#/components/schemas/Attribution"
					},
					"served_by": {
						"$ref": "#/components/schemas/ServedBy"
					},
					"terms": {
						"type": "string",
						"format": "uri"
					},
					"documentation": {
						"type": "string",
						"format": "uri"
					},
					"notice": {
						"type": "string"
					}
				}
			},
			"InsolvencyWindow": {
				"type": "object",
				"required": [
					"from",
					"to",
					"openings"
				],
				"properties": {
					"from": {
						"type": "string",
						"examples": [
							"2025-08"
						]
					},
					"to": {
						"type": "string",
						"description": "Last month included. The current month is never in it: still running, it would read as a collapse.",
						"examples": [
							"2026-07"
						]
					},
					"openings": {
						"type": "integer"
					}
				}
			},
			"Timeline": {
				"type": "object",
				"required": [
					"siren",
					"legal_name",
					"timeline",
					"proceedings",
					"insolvency",
					"coverage",
					"attribution",
					"served_by",
					"terms",
					"documentation",
					"notice"
				],
				"properties": {
					"siren": {
						"type": "string",
						"examples": [
							"794598813"
						]
					},
					"legal_name": {
						"type": [
							"string",
							"null"
						],
						"description": "The name as the gazette last published it. Null when no announcement names the company."
					},
					"timeline": {
						"type": "array",
						"description": "One entry per field that has changed at least once.",
						"items": {
							"type": "object",
							"required": [
								"field",
								"label",
								"changes",
								"first_known",
								"current",
								"history"
							],
							"properties": {
								"field": {
									"type": "string",
									"enum": [
										"share_capital",
										"legal_name",
										"legal_form",
										"registered_office",
										"stated_activity"
									]
								},
								"label": {
									"type": "string",
									"description": "Human-readable field name, in English."
								},
								"changes": {
									"type": "integer",
									"description": "How many times the value changed. `history` holds one more entry than this: the first is a starting point, not a change."
								},
								"first_known": {
									"$ref": "#/components/schemas/Step"
								},
								"current": {
									"$ref": "#/components/schemas/Step"
								},
								"history": {
									"type": "array",
									"items": {
										"$ref": "#/components/schemas/Step"
									}
								}
							}
						}
					},
					"proceedings": {
						"type": "array",
						"description": "Insolvency judgments, most recent first. Separate from `timeline` on purpose: a timeline entry follows the value of a field, a judgment is a dated event. Empty for a company that has never been through one.",
						"items": {
							"$ref": "#/components/schemas/Proceeding"
						}
					},
					"insolvency": {
						"description": "Where the company stands under insolvency law, or null when no judgment installed a status. Do not recompute this from `proceedings`: a closure cancels a liquidation, a set-aside cancels the judgment it sets aside, and two judgments can share a date.",
						"oneOf": [
							{
								"$ref": "#/components/schemas/Insolvency"
							},
							{
								"type": "null"
							}
						]
					},
					"coverage": {
						"type": "object",
						"required": [
							"announcements_read",
							"complete",
							"earliest_possible_year"
						],
						"properties": {
							"announcements_read": {
								"type": "integer",
								"description": "How many announcements actually describe this company."
							},
							"complete": {
								"type": "boolean",
								"description": "False when the gazette stopped answering mid-read. The timeline is then a beginning, and the response is not cached."
							},
							"earliest_possible_year": {
								"type": "integer",
								"examples": [
									2008
								]
							}
						}
					},
					"attribution": {
						"$ref": "#/components/schemas/Attribution"
					},
					"served_by": {
						"$ref": "#/components/schemas/ServedBy"
					},
					"terms": {
						"type": "string",
						"format": "uri",
						"description": "The terms of use, absolute, as every answer of the fleet carries them."
					},
					"documentation": {
						"type": "string",
						"format": "uri",
						"description": "The human documentation, absolute."
					},
					"notice": {
						"type": "string",
						"description": "What the data does and does not say."
					}
				}
			}
		}
	},
	"x-rate-limit": {
		"requests": 30,
		"window_seconds": 60,
		"scope": "ip",
		"note": "Edge-cached responses are served without reaching the limiter and do not consume quota. RateLimit-* headers travel on the 429 alone: stored on a cached answer they would tell every caller the quota of the first one."
	},
	"x-stability": "No version in the address and none in the body, because nothing will break: fields are added, never removed or renamed under a caller, and addresses do not move. The launch-day /api/v1/ addresses answer 308 to the same paths without the segment."
}